body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


/*Padding rule for all flex divs in page*/
.navigation,
.title,
.info,
.quote-section  {
    padding: 0 20vh;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20vh;
    margin-bottom: 10vh;
}

ul.nav-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

p {
    font-size: 18px;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10vh;
    justify-content: space-between;
    gap: 30px;
}

.right-title {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

h1 {
    font-size: 8vh;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

p.text-under {
    font-size: 3vh;
}

img {
    box-shadow: 5px 7px 10px 2px rgb(0 0 0 / 18%);
    max-width: 75vh;
    border-radius: 5px;
}

button.sign-up {
    background-color: #ffec0d;
    text-align: center;
    color: #3c3c3c;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    width: 15vh;
    height: 5vh;
    cursor: pointer;
    box-shadow: 5px 7px 10px 2px rgb(0 0 0 / 18%);
}

.sign-up:hover {
    background-color: #dfcd09;
}

.sign-up:active {
    background-color: #ffec0d;
    box-shadow: none;
}

/*Main info starts here*/

h2 {
    font-size: 7vh;
    text-align: center;
    margin-top: 10vh;
}

.beer {
    font-weight: 700;
}

.info {
    display: flex;
    margin: auto;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    gap: 5vh;
    margin-bottom: 10vh;
}

.box {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #414141;
    font-size: 2vh;
    max-width: 35vh;
}

img.info-img {
    max-width: 20vh;
}

/*Quote-section starts here*/

.quote-section {
    display: flex;
    flex-flow: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 5vh 40vh;
}

.quote {
    color: #414141;
    font-style: italic;
    font-size: 5vh;
}

p.author {
    text-align: end;
    font-size: 3vh;
    font-weight: 600;
    color: #414141;
}

/*Action section*/

.action {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    padding: 3vh 7vh;
    background-color:#ffec0d;
    width: 200vh;
    border-radius: 10px;
    margin: 10vh 40vh;
    color: #3c3c3c;
    font-size: 2.5vh;
    font-family: 'Open Sans', sans-serif;
}

h4,
.its-time {
    margin: 0;
}

button.action-button {
    background-color:#ffec0d;
    text-align: center;
    color: #3c3c3c;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid black;
    width: 15vh;
    height: 5vh;
    cursor: pointer;
}

.action-button:hover {
    background-color: #dfcd09;
}

.action-button:active {
    background-color:#ffec0d;
    box-shadow: none;
}

/*Footer section*/

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
}